<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if (userObj) { %>
        <p>姓名：<%= userObj.nickname %></p>
        <p>性别：
            <% if (userObj.sex === 1) { %>
            男
            <% } %>
        </p>
        <p>国籍：<%= userObj.country %></p>
        <p>籍贯：<%= userObj.province %></p>
        <p>头像：
            <img src="<%= userObj.headimgurl %>" alt="" id="avatar">
        </p>
        <p>openId：<%= userObj.openid %></p>
    <% } %>
</body>
</html>